* {
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(25, 27, 29);
  color: white;
  text-align: center;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 24px;
}

canvas {
  border: 1px solid black;
  margin: auto;
}

.panel {
  width: 512px;
  margin: auto;
}
.panel h2,h3,p {
  text-align: left;
}

.log-container {
  height: 300px;
  overflow-y: scroll;
  border: 1px solid black;
  text-align: left;
  scrollbar-width: thin;
  scrollbar-color: #fff #666;
}
.log-container ul {
  list-style: none;
}

button {
  margin: 8px;
  padding: 4px 12px;
  border: none;
  border-radius: 4px;
}
button:hover {
  cursor: pointer;
  background-color: rgb(213, 232, 240);
}
button:active {
  background-color: rgb(173, 229, 252);
}

@media (max-width: 1028px) {
  .container {
    grid-template-columns: 1fr;
  }
}